body{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 1.5;
 
}

.container{
    width: 80%;
}

.para{
    color: #333;
    font-weight:bold ;
}

.title{
    text-align: center;
    color: rgb(148, 36, 36);
    font-weight: bold;
}